[Unit]
Description=The PHP FastCGI Process Manager| php-fpm start! By LoveLive!
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/php-fpm.pid
ExecStart=/usr/local/php/sbin/php-fpm
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -INT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
